:root {
    --primary-color: #333;
    --background-color: #f8f9fa;
    --text-color: #333;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    --gradient: linear-gradient(135deg, #969a82, #000000);
}

body {
    margin: 0;
    background: var(--gradient);
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    animation: fadeIn 2s ease-in-out;
}

.logo-image {
    max-width: 700px; /* Adjust the max width as needed */
    height: auto;
    transition: transform 0.3s;
}

.logo-image:hover {
    transform: scale(0.9);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}