:root {
    --primary-color: #333;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    --gradient: linear-gradient(135deg, #969a82, #000000);
}

body {
    margin: 0;
    background: var(--gradient);
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

h1 {
    font-family: 'Source Sans Pro', sans-serif; /* Use SEO-friendly font */
    font-size: 2rem; /* Adjusted size for readability and SEO */
    color: white;
    margin-bottom: 20px;
}

h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif; /* SEO-optimized font */
    color: #fff;
}

.card {
    background: black;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    animation: fadeIn 2s ease-in-out;
}

.logo-image {
    max-width: 500px; /* Adjust the max width as needed */
    height: auto;
    transition: transform 0.3s;
}

.logo-image:hover {
    transform: scale(0.9);
}

/* Header Start */

.header {
    background-color: #000 !important; /* Ensure it stays black */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding-bottom: 60px;
    transition: none; /* Remove any fading effects */
}

.menu-scrolls {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color:black;
    height: 75px;

}
.navbar {
    background-color: #000; /* Black background */
    padding: 10px;
}

.navbar-brand h1 {
    margin: 0;
    font-size: 1.5rem; /* Adjust font size as needed */
    color: #fff; /* White text color */
}

/*Footer Start */

.footer {
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer img {
    max-width: 100%; /* Ensure the new footer image fits well */
    height: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem; /* Smaller font size for smaller devices */
    }

    .logo-image {
        max-width: 300px; /* Adjust the max width as needed */
        height: auto;
    }
}

@media (max-width: 380px) {
    .card { 
        padding: 10px;
    }

    h1 {
        font-size: 20px !important; /* Smaller font size for smaller devices */
    }

    .logo-image {
        max-width: 150px; /* Adjust the max width as needed */
        height: auto;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}