:root {
    --primary-color: #333;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    --gradient: linear-gradient(135deg, #969a82, #000000);
}

body {
    margin: 0;
    background: var(--gradient);
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

h1 {
    font-family: 'Reddit Sans', sans-serif; /* Fallback to sans-serif if Reddit Sans isn't loaded */
    font-size: 2px;  /* Example size */
    color: white;  /* Adjust color as needed */
    margin-bottom: 20px;
}

.card {
    background: black;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    animation: fadeIn 2s ease-in-out;
}

.logo-image {
    max-width: 500px; /* Adjust the max width as needed */
    height: auto;
    transition: transform 0.3s;
}

.logo-image:hover {
    transform: scale(0.9);
}

/* Header Start */

#header {
    padding-bottom: 60px;
}

.navbar {
    background-color: #000; /* Black background */
}
.navbar-brand h1 {
    margin: 0;
    font-size: 1.5rem; /* Adjust font size as needed */
    color: #fff; /* White text color */
}

/*Footer Start */

.footer {
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .card {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem; /* Smaller font size for smaller devices */
    }

    .logo-image {
        max-width: 300px; /* Adjust the max width as needed */
        height: auto;
    }
}

@media (max-width: 380px) {
    .card { 
        padding: 10px;
    }

    h1 {
        font-size: 20px !important; /* Smaller font size for smaller devices */
    }

    .logo-image {
        max-width: 150px; /* Adjust the max width as needed */
        height: auto;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}